appdirs==1.4.3
chardet==3.0.4
cupshelpers==1.0
gufw==17.10.0
idna==2.6
lightdm-gtk-greeter-settings==1.2.2
louis==3.4.0
npyscreen==4.10.5
numpy==1.14.0
packaging==16.8
pacman-mirrors==4.7.0
pycairo==1.15.4
pycups==1.9.73
pycurl==7.43.0.1
pygobject==3.26.1
pyparsing==2.2.0
ranger==1.8.1
requests==2.18.4
six==1.11.0
speedtest-cli==1.0.7
syslogng==1.0
team==1.0
urllib3==1.22
virtualenv==15.1.0
